<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login Page</title>
    <style>
      :root {
        --gelap: #1e2022;
        --cerah: #f0f5f9;
        --primary: #c9d6df;
      }

      body {
        height: 100vh;
        display: flex;
        gap: 3rem;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: var(--gelap);
        color: var(--cerah);
        font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
          "Lucida Sans", Arial, sans-serif;
      }

      h1 {
        background: linear-gradient(to right, var(--primary), var(--gelap));
        color: transparent;
        -webkit-background-clip: text;
      }
      .logout {
        position: absolute;
        top: 2rem;
        right: 5rem;
      }

      button {
        padding: 1rem 1.5rem;
        background-color: rgb(197, 27, 27);
        color: var(--primary);
        border: none;
        border-radius: 0.2rem;
        transition: all 0.3s ease;
        cursor: pointer;
      }

      button:hover {
        background-color: var(--cerah);
        color: #1e2022;
      }

      .box {
        width: 50vw;
        height: 30vh;
        display: flex;
        font-size: small;
        flex-direction: column;
        justify-content: center;
        animation: fade 5s ease;
      }

      @keyframes fade {
        from {
          opacity: 0;
        }
        to {
          opacity: 1;
        }
      }
    </style>
  </head>
  <body>
    <button class="logout">Logout</button>
    <h1>Welcome name</h1>
    <div class="box">
      <p>Are you like a nasgor 😁</p>
      <p>Wanna taste other food like tahu tek😔</p>
    </div>
    <button>Show secret recipe</button>
  </body>
</html>
