<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login Page</title>
    <style>
      :root {
        --gelap: #1e2022;
        --cerah: #f0f5f9;
        --primary: #c9d6df;
      }

      body {
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    </style>
  </head>
  <body>
    <h1>Login Page</h1>
    <form action="/login" method="post"></form>
  </body>
</html>
