<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create User</title>
</head>
<body>
    <h1>Create User</h1>
    <form action="/create" method="post">
        <div>
            <label for="username">Username</label>
            <input type="text" id="username" name="username" required>
        </div>
        <div>
            <label for="password">Password</label>
            <input type="text" id="password" name="password" required>
        </div>

        <div>     
            <label for="is_admin">Is Admin</label>
            <select name="is_admin" id="is_admin" required>
                <option value="">Select</option>
                <option value="true">True</option>
                <option value="true">False</option>
            </select>
        </div>


        <button type="submit">Submit</button>
    </form>
</body>
</html>