<% layout('layouts/tubuh') %>
    <h1>Update User</h1>
    <form action="/user/<%= user._id %>?_metode=PUT" method="post">
        <div>
            <label for="username">Username</label>
            <input required type="text" id="username" name="username" value="<%= user.username %>" >
        </div>
        <div>
            <label for="password">Password</label>
            <input required type="text" id="password" name="password" value="<%= user.password %>" >
        </div>


        <button type="submit">Submit</button>
    </form>
