<% layout('layouts/body') %>
<h1>Profile Page</h1>
<p>Hello <%= username %></p>


<form action="/quotes" method="post">
    <label for="quote">Quotes for today</label>
    <input type="text" id="quote" name="quote">
    <button>Send</button>
</form>


<ul>
    <% for( const quote of quotes ) { %>
        <li><%- quote.author %> - <%- quote.quote %></li>
    <% } %>
</ul>