<% layout('layouts/body') %>
<h1>Register Page</h1>

<form action="/register" method="post">
    <label for="username">Username</label>
    <input type="text" name="username" id="username">
    <label for="password">Password</label>
    <input type="password" name="password" id="password">
    <label for="show_passwd">
        <input type="checkbox" id="show_passwd">
        <small>show password</small>
    </label>
    <button type="submit">Register</button>
</form>