<h1>Hello <%- uname %></h1>
<form action="/comment" method="post">
    <label for="comment">Comment</label>
    <input type="text" name="comment" id="comment">
    <button>Add Comment</button>
</form>


<% if (comment) { %>
 <p><%- comment %></p>
<% } %>