<!doctype html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/output.css">
</head>
<body class="p-5 w-full flex justify-center flex-col items-center bg-slate-900 text-teal-400">
  <%- body %>

<script src="/js/formValidate.js"></script>
</body>
</html>